<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ParkingDAO">
	<select id="getcurrentpark"  resultType="com.team.smart.parking.vo.ParkingVO" parameterType="String">
		select
		B_CODE,
		P_LAT,
        P_LOT,
        P_STATE,
        DISABLE_POSITION_X,
        DISABLE_POSITION_Y,
        RESERVED_POSITION_X,
        RESERVED_POSITION_Y
	    FROM parking_lot_detail_tbl
	    WHERE B_CODE = #{b_code} order by p_seq
	</select>
	<select id="getparkCnt" resultType="int" parameterType="String">
		select count(*) from parking_lot_detail_tbl where b_code = #{b_code}  
	</select>
	<select id="getparklist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		<![CDATA[
		select * from(select p_seq, b_code, p_detail_floor, disable_position_x, disable_position_y, reserved_position_x, reserved_position_y, ask, p_lat, p_lot, p_state, rownum rNum from (select * from parking_lot_detail_tbl order by  p_state desc)
	   where b_code = #{b_code})where rNum >=#{start} and rNum <= #{end} 
		]]>
	</select>
	
	<insert id="ticketreg" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_ticket_info_tbl(p_code,b_code,p_type,hourly,price,reg_id,reg_date)
		values(#{p_code},#{b_code},#{p_type},#{hourly},#{price},#{reg_id}, sysdate)
	</insert>
	
	<!-- <insert id="ticketreg" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_lot_tbl
		values(#{B_CODE},#{B_NAME},#{P_floor},#{able_position},#{able_height},#{lat},#{lon},#{operate_time_day},#{operate_time_week},#{operate_tel})
	</insert> -->
	
	<select id="buliding" resultType="com.team.smart.parking.vo.ParkingVO">
		select
		B_CODE,
		B_FLOOR,
		B_LAT,
		B_LON
		FROM BUILDING_TBL
		WHERE B_NAME = #{B_NAME}
	</select>
	
	<select id="buildcount" resultType="int">
		select count(*)
		FROM BUILDING_TBL
		WHERE B_CODE = #{B_CODE}
	</select>
	
	<select id="buildcount1" resultType="int">
		select count(*)
		FROM BUILDING_TBL
		WHERE B_NAME = #{B_NAME}
	</select>
	
	<update id="updateticket" parameterType="com.team.smart.parking.vo.ParkingVO">
		update parking_ticket_info_tbl
		set b_code = #{b_code},
		p_type = #{p_type},
		hourly = #{hourly},
		price = #{price},
		update_date = sysdate
		WHERE p_code = #{p_code}
	</update>
	
	
	<insert id="parkingreg" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_lot_tbl(b_code,b_name,p_floor,able_position,able_height,lat,lon,operate_time_day,operate_time_week,operate_tel)
		values(#{b_code},#{b_name},#{p_floor},#{able_position},#{able_height},#{lat},#{lon},#{operate_time_day},#{operate_time_week},#{operate_tel})
	</insert>
	
	<update id="updateplace" parameterType="com.team.smart.parking.vo.ParkingVO">
		update parking_lot_tbl
		set b_name = #{b_name},
		p_floor = #{p_floor},
		able_position = #{able_position},
		able_height = #{able_height},
		lat = #{lat},
		lon = #{lon},
		operate_time_day = #{operate_time_day},
		operate_time_week = #{operate_time_week},
		operate_tel = #{operate_tel}
		where b_code = #{b_code}
	</update>
	
	<delete id="deleteplace" parameterType="int">
		delete parking_lot_tbl
		where b_code = #{b_code}
	</delete>
	
	<!-- <select id="importpcode" resultType="int">
		select max(p_code)
		from parking_ticket_info_tbl
		where 0< (select count(p_code)
            from parking_ticket_info_tbl)
	</select> -->
	
	<select id="getArticleCnt" resultType="int">
		select count(*) from parking_ticket_history_tbl
	</select>
	
	<select id="getpaylist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		<![CDATA[
		select * from ( select parking_code, userid, p_ocode, car_number, use_day, rownum r_num from 
		(select * from parking_ticket_history_tbl order by parking_code)) where r_num >= #{start} and r_num <= #{end}
		]]>
	</select>
	
	<select id="getOrderCnt" resultType="int">
		select count(*) from parking_ticket_order_tbl 
	</select>
	
	<select id="getorderlist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		<![CDATA[
		 select * from (select p_ocode,p_code,userid,p_state,p_oprice,p_count,pay_day,refund_day,tid,rownum r_num from 
		 (select * from parking_ticket_order_tbl order by p_ocode))where r_num >=#{start} and r_num <= #{end}                        
		 ]]>
	</select>
	
	<select id="getinsertCnt" resultType="int" parameterType="java.util.Map">
		select count(*) from parking_ticket_info_tbl where b_code = #{b_code}
		  	<if test="sertext != '' ">
		  	  		AND p_code like '%' ||  #{sertext} || '%' 
				    OR B_CODE = #{b_code} 
                    AND B_CODE like '%' || #{sertext} || '%'
                    OR B_CODE = #{b_code} 
                    AND  P_TYPE like '%' || #{sertext}  || '%' 
                    OR B_CODE = #{b_code} 
                    AND  REG_ID like '%' || #{sertext}  || '%' 
                    OR B_CODE = #{b_code} 
                    AND  REG_DATE like '%'|| #{sertext}  || '%'   
		  	</if>
	</select>
	
	<select id="getinsertlist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		select * 
		  from (select pt.*,rownum rNum from parking_ticket_info_tbl  pt
		  	WHERE B_CODE = #{b_code} 
		  	<if test="sertext != '' ">
		  	  		AND p_code like '%' ||  #{sertext} || '%' 
				    OR B_CODE = #{b_code} 
                    AND B_CODE like '%' || #{sertext} || '%'
                    OR B_CODE = #{b_code} 
                    AND  P_TYPE like '%' || #{sertext}  || '%' 
                    OR B_CODE = #{b_code} 
                    AND  REG_ID like '%' || #{sertext}  || '%' 
                    OR B_CODE = #{b_code} 
                    AND  REG_DATE like '%'|| #{sertext}  || '%'
			        
		  	</if>
			)
	<![CDATA[
		 where rNum >=#{start} and rNum <= #{end} order by p_code
	  ]]>
	</select>
	
	<select id="ticketinfo"  resultType="com.team.smart.parking.vo.ParkingVO" parameterType="String">
		select
		p_type,
		hourly,
        price
	    FROM PARKING_TICKET_INFO_TBL
	    WHERE p_code = #{p_code}
	</select>
	
	<update id="ticketpro" parameterType="com.team.smart.parking.vo.ParkingVO">
		update PARKING_TICKET_INFO_TBL
		set p_type = #{p_type},
			hourly = #{hourly},
			price = #{price},
			reg_id = #{reg_id}
			WHERE p_code = #{p_code}
	</update>
	
	<delete id="delete" parameterType="String">
			delete PARKING_TICKET_INFO_TBL
			where p_code = #{p_code}
	</delete>
	
<!-- 	<select id="getsearch"  resultType="com.team.smart.parking.vo.ParkingVO" parameterType="String">
		selete *
		from  (select pt.*,rownum rNum from parking_ticket_info_tbl  pt)
		where p_code like '%' ||  #{ser} || '%' 
		  OR B_CODE like '%' ||  #{ser} || '%'
		  OR P_TYPE like '%' ||  #{ser} || '%' 
		  OR REG_ID like '%' ||  #{ser} || '%' 
	      OR REG_DATE like '%' ||  #{ser} || '%'
	    AND rNum >=#{start} AND rNum <= #{end} order by p_code
	</select> -->
	<select id="ticketPG_CODE" resultType="com.team.smart.parking.vo.ParkingVO">
			select p_code,p_type from parking_ticket_info_tbl where b_code = #{b_code}
	</select>
	<insert id="ticketorder" parameterType="com.team.smart.parking.vo.ParkingVO">
			insert into parking_ticket_order_tbl(p_ocode,p_code,userid,p_state,p_oprice,tid,pay_day) 
			values( #{p_ocode},#{p_code},#{userid},3,#{p_oprice},'id5',sysdate)
	</insert>
	<select id="p_seq" resultType="com.team.smart.parking.vo.ParkingVO">
	SELECT p_seq,p_lat,p_lot FROM parking_lot_detail_tbl  WHERE p_state = 0 ORDER BY p_seq   
	</select>
	<update id="upstate" parameterType="com.team.smart.parking.vo.ParkingVO">
		UPDATE parking_lot_detail_tbl 
		SET p_state = 1,ask = #{ask} WHERE p_seq=#{p_seq}
	</update>
	<insert id="insertinout" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_history_tbl 
		values(inoutcode=#{inoutcode},car_number=#{car_number},car_number_img=#{car_number_img},b_code=#{b_code},in_time='sysdate',parking_time='sysdate',,parking_location=#{parking_location},parking_state = 0)
	</insert>
	<select id="findid" resultType="int">
		select count(*) from parking_member_car_tbl  where userid=#{userid}
	</select>
	<insert id="insertid" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_member_car_tbl(userid,c_num,kind_of_car,ask) 
		values (#{userid},#{car_number},#{kind_of_car},#{ask})
	</insert>
	<insert id="inserthistory" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_ticket_history_tbl(parking_code,p_ocode,userid,car_number,use_day) 
		values (#{parking_code},#{p_ocode},#{userid},#{car_number},sysdate)
	</insert>
	<select id="paytotal" resultType="java.util.Map" parameterType="java.util.Map">
		select (substr(pay_day,1,5)) pay_day,
		sum(p_oprice) p_oprice
		from parking_ticket_order_tbl
		where p_code = #{p_code0} AND p_state = 1  OR p_code = #{p_code1}  AND p_state = 1
		OR p_state = 1 AND p_code = #{p_code2} OR
		p_code = #{p_code0} AND p_state = 2  OR p_code = #{p_code1}  AND p_state = 2
		OR p_state = 2 AND p_code = #{p_code2}
		GROUP by (substr(pay_day,1,5))
		order by (substr(pay_day,1,5))
	</select>
	<select id="getpriceCnt" resultType="int" parameterType="java.util.Map">
		select count(*) from parking_basic_price_tbl where b_code = #{b_code}
		<if test="sertext != '' ">
		  	        AND bp_seq  like '%' ||  #{sertext} || '%' 
				    OR b_code = #{b_code}
				    AND b_code  like '%' ||  #{sertext} || '%'
				    OR b_code = #{b_code}
				    AND bp_type  like '%' ||  #{sertext} || '%' 
				    OR b_code = #{b_code}
				    AND pb_time   like '%' ||  #{sertext} || '%' 
				    OR b_code = #{b_code}
			        AND pb_price   like '%'|| #{sertext} || '%'
			        OR b_code = #{b_code}
		         	AND pb_free    like '%'|| #{sertext} || '%'
		         	OR b_code = #{b_code}
		          	AND pb_free_price like '%'|| #{sertext} || '%'
		          	OR b_code = #{b_code}
		           	AND reg_date   like '%'|| #{sertext} || '%'
		  	</if>
	</select>
	<select id="getpricelist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		select *  
		  from (select pt.*,rownum rNum from parking_basic_price_tbl  pt
		  	 WHERE  b_code = #{b_code}
		  	<if test="sertext != '' ">
		  	        AND bp_seq  like '%' ||  #{sertext} || '%' 
				    OR b_code = #{b_code}
				    AND b_code  like '%' ||  #{sertext} || '%'
				    OR b_code = #{b_code}
				    AND bp_type  like '%' ||  #{sertext} || '%' 
				    OR b_code = #{b_code}
				    AND pb_time   like '%' ||  #{sertext} || '%' 
				    OR b_code = #{b_code}
			        AND pb_price   like '%'|| #{sertext} || '%'
			        OR b_code = #{b_code}
		         	AND pb_free    like '%'|| #{sertext} || '%'
		         	OR b_code = #{b_code}
		          	AND pb_free_price    like '%'|| #{sertext} || '%'
		          	OR b_code = #{b_code}
		           	AND reg_date   like '%'|| #{sertext} || '%'
		  	</if>
			)
	<![CDATA[
		 where rNum >=#{start} and rNum <= #{end} order by bp_seq
	  ]]>
	</select>
	<insert id="insertprice" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_basic_price_tbl 
		values(parking_basic_price_seq.NEXTVAL,#{b_code},#{bp_type},#{pb_time},#{pb_price},#{pb_free},#{pb_free_price },#{reg_id},sysdate) 
	</insert>
	<select id="getupprice" resultType="com.team.smart.parking.vo.ParkingVO">
		select * from parking_basic_price_tbl where bp_seq = #{bp_seq} 
	</select>
	<update id="getuppricepro" parameterType="com.team.smart.parking.vo.ParkingVO">
		update parking_basic_price_tbl
		set b_code=#{b_code},bp_type=#{bp_type},reg_id=#{reg_id},pb_price=#{pb_price},pb_time=#{pb_time},pb_free=#{pb_free},pb_free_price=#{pb_free_price} where bp_seq = #{bp_seq}
	</update>
	<delete id="moneydelete" parameterType="int">
		delete parking_basic_price_tbl
		where bp_seq = #{bp_seq}
	</delete>
	<select id="getpricepaycnt" resultType="int">
		select count(*) from parking_payment_tbl
		<if test="sertext != '' ">
		  	 WHERE  pay_seq  like '%' ||  #{sertext} || '%'
				    OR inoutcode   like '%' ||  #{sertext} || '%' 
				    OR userid    like '%' ||  #{sertext} || '%' 
				    OR pay_price    like '%' ||  #{sertext} || '%' 
				    OR pay_type    like '%' ||  #{sertext} || '%' 
				    OR pay_enable_time    like '%' ||  #{sertext} || '%' 
				    OR parking_code    like '%' ||  #{sertext} || '%' 
				    OR pay_day    like '%' ||  #{sertext} || '%' 
				    OR pb_state     like '%' ||  #{sertext} || '%'
				    OR tid    like '%' ||  #{sertext} || '%' 
		  	</if>
			
	</select>
	<select id="pricepaylist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		select * 
		  from (select pt.*,rownum rNum from parking_payment_tbl   pt
		  	<if test="sertext != '' ">
		  	 WHERE  pay_seq  like '%' ||  #{sertext} || '%'
				    OR inoutcode   like '%' ||  #{sertext} || '%' 
				    OR userid    like '%' ||  #{sertext} || '%' 
				    OR pay_price    like '%' ||  #{sertext} || '%' 
				    OR pay_type    like '%' ||  #{sertext} || '%' 
				    OR pay_enable_time    like '%' ||  #{sertext} || '%' 
				    OR parking_code    like '%' ||  #{sertext} || '%' 
				    OR pay_day    like '%' ||  #{sertext} || '%' 
				    OR pb_state     like '%' ||  #{sertext} || '%'
				    OR tid    like '%' ||  #{sertext} || '%' 
		  	</if>
			)
	<![CDATA[
		 where rNum >=#{start} and rNum <= #{end} order by pay_day desc
	  ]]>
	</select>
	<select id="pricetotal" resultType="java.util.Map" parameterType="java.util.Map">
	select (substr(pay_day,1,5)) pay_day,
		sum(pay_price) pay_price
		from parking_payment_tbl p, parking_history_tbl h 
		where pb_state = 2 and  p.inoutcode = h.inoutcode and h.b_code=#{b_code}
		GROUP by (substr(pay_day,1,5))
		order by (substr(pay_day,1,5))
	</select>
	
	<select id="inoutCarList" parameterType="java.util.Map" resultType="com.team.smart.parking.vo.InoutCarVO" >
		
		  select * from (select tmp.*, rownum rNum from (SELECT *
		  FROM parking_history_tbl ph
		  LEFT JOIN (select inoutcode, sum(pay_enable_time) totParkingTime from parking_payment_tbl where pb_state = 2 group by inoutcode
		              ) pp ON(pp.inoutcode = ph.inoutcode) order by parking_state, out_time nulls first, in_time desc) tmp
           WHERE b_code = #{b_code}
           <if test="sertext != '' ">
                    AND car_number like '%' || #{sertext} || '%'
		  	</if>
		   AND is_delete = 'N'
		   <![CDATA[
		   ) where rNum >= #{start} and rNum <= #{end}
		   ]]>
		    
			
	</select>
	
	<select id="getBasicPrice" resultType="com.team.smart.parking.vo.ParkingBasicPriceVO">
		select * from parking_basic_price_tbl where b_code = #{b_code}
	</select>
	
	<update id="modiOutStatus" parameterType="String" >
		update parking_history_tbl set parking_state = 1, out_time = sysdate where inoutcode = #{inoutcode}
	</update>

	<insert id="insertInOutPro" parameterType="java.util.Map">
		insert into parking_history_tbl (inoutcode,b_code,car_number,in_time,car_number_img,p_lat,p_lot)  
	     values (#{inoutcode}, #{b_code}, #{car_number}, #{in_time}, #{car_number_img},#{p_lat},#{p_lot})
	</insert>
	
	<update id="inoutDelete" parameterType="String" >
		UPDATE parking_history_tbl SET is_delete = 'Y' where inoutcode in(${value})
	</update>
	
	<select id="getTotalInoutCnt" resultType="int" parameterType="java.util.Map">
		select count(*) cnt from parking_history_tbl where is_delete='N' and b_code = #{b_code}
		<if test="sertext != '' ">
                    AND car_number like '%' || #{sertext} || '%'
		 </if>
	</select>
	<select id="list" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		select * from parking_ticket_info_tbl where b_code = #{b_code}      
	</select>
	<select id="parkcount" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="String">
		<![CDATA[
		select rownum,p_lat,p_lot from PARKING_LOT_DETAIL_TBL where b_code = #{b_code} and p_state = 0 and rownum>0 and  rownum<2 order by p_seq 
	 ]]>
	</select>
	
	<update id="upparkdata" parameterType="java.util.Map">
		update  PARKING_LOT_DETAIL_TBL 
		set p_state = #{p_state} where p_lot = #{p_lot} and p_lat= #{p_lat} and b_code =#{b_code}
	</update>
	
	<select id="carlist" resultType="com.team.smart.parking.vo.InoutCarVO" parameterType="java.util.Map">
		select p_lat,p_lot from parking_history_tbl where inoutcode = #{inoutcode} and b_code = #{b_code}
	</select>
	
	<update id="upparkdata1" parameterType="java.util.Map">
		update PARKING_LOT_DETAIL_TBL
		set p_state = #{p_state} where b_code = #{b_code} and p_lat = #{p_lat} and p_lot = #{p_lot} 
	</update>
</mapper>

