<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ParkingDAO">
	<select id="getcurrentpark"  resultType="com.team.smart.parking.vo.ParkingVO" parameterType="String">
		select
		B_CODE,
		P_LAT,
        P_LOT,
        P_STATE,
        DISABLE_POSITION_X,
        DISABLE_POSITION_Y,
        RESERVED_POSITION_X,
        RESERVED_POSITION_Y
	    FROM parking_lot_detail_tbl
	    WHERE B_CODE = #{b_code} order by p_seq
	</select>
	<select id="getparkCnt" resultType="int" parameterType="String">
		select count(*) from parking_lot_detail_tbl where b_code = #{b_code}  
	</select>
	<select id="getparklist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		<![CDATA[
		select * from (select pt.*,rownum rNum from parking_lot_detail_tbl pt)
	   where rNum >=#{start} and rNum <= #{end} and b_code = #{b_code} order by b_code
		]]>
	</select>
	
	<insert id="ticketreg" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_ticket_info_tbl(p_code,b_code,p_type,hourly,price,reg_id,reg_date)
		values(#{p_code},#{b_code},#{p_type},#{hourly},#{price},#{reg_id}, sysdate)
	</insert>
	
	<!-- <insert id="ticketreg" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_lot_tbl
		values(#{B_CODE},#{B_NAME},#{P_floor},#{able_position},#{able_height},#{lat},#{lon},#{operate_time_day},#{operate_time_week},#{operate_tel})
	</insert> -->
	
	<select id="buliding" resultType="com.team.smart.parking.vo.ParkingVO">
		select
		B_CODE,
		B_FLOOR,
		B_LAT,
		B_LON
		FROM BUILDING_TBL
		WHERE B_NAME = #{B_NAME}
	</select>
	
	<select id="buildcount" resultType="int">
		select count(*)
		FROM BUILDING_TBL
		WHERE B_CODE = #{B_CODE}
	</select>
	
	<select id="buildcount1" resultType="int">
		select count(*)
		FROM BUILDING_TBL
		WHERE B_NAME = #{B_NAME}
	</select>
	
	<update id="updateticket" parameterType="com.team.smart.parking.vo.ParkingVO">
		update parking_ticket_info_tbl
		set b_code = #{b_code},
		p_type = #{p_type},
		hourly = #{hourly},
		price = #{price},
		update_date = sysdate
		WHERE p_code = #{p_code}
	</update>
	
	
	<insert id="parkingreg" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_lot_tbl(b_code,b_name,p_floor,able_position,able_height,lat,lon,operate_time_day,operate_time_week,operate_tel)
		values(#{b_code},#{b_name},#{p_floor},#{able_position},#{able_height},#{lat},#{lon},#{operate_time_day},#{operate_time_week},#{operate_tel})
	</insert>
	
	<update id="updateplace" parameterType="com.team.smart.parking.vo.ParkingVO">
		update parking_lot_tbl
		set b_name = #{b_name},
		p_floor = #{p_floor},
		able_position = #{able_position},
		able_height = #{able_height},
		lat = #{lat},
		lon = #{lon},
		operate_time_day = #{operate_time_day},
		operate_time_week = #{operate_time_week},
		operate_tel = #{operate_tel}
		where b_code = #{b_code}
	</update>
	
	<delete id="deleteplace" parameterType="int">
		delete parking_lot_tbl
		where b_code = #{b_code}
	</delete>
	
	<!-- <select id="importpcode" resultType="int">
		select max(p_code)
		from parking_ticket_info_tbl
		where 0< (select count(p_code)
            from parking_ticket_info_tbl)
	</select> -->
	
	<select id="getArticleCnt" resultType="int">
		select count(*) from parking_ticket_history_tbl
	</select>
	
	<select id="getpaylist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		<![CDATA[
		select * from (select pt.*,rownum rNum from parking_ticket_history_tbl pt)
		  where rNum >=#{start} and rNum <= #{end} order by p_ocode
		]]>
	</select>
	
	<select id="getOrderCnt" resultType="int">
		select count(*) from parking_ticket_order_tbl 
	</select>
	
	<select id="getorderlist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		<![CDATA[
		select * from (select pt.*,rownum rNum from parking_ticket_order_tbl pt)
		  where rNum >=#{start} and rNum <= #{end} order by p_ocode
		 ]]>
	</select>
	
	<select id="getinsertCnt" resultType="int">
		select count(*) from parking_ticket_info_tbl  
	</select>
	
	<select id="getinsertlist" resultType="com.team.smart.parking.vo.ParkingVO" parameterType="java.util.Map">
		select * 
		  from (select pt.*,rownum rNum from parking_ticket_info_tbl  pt
		  	<if test="sertext != '' ">
		  	 WHERE p_code like '%' ||  #{sertext} || '%' 
				    OR B_CODE like '%' ||  #{sertext} || '%'
				    OR P_TYPE like '%' ||  #{sertext} || '%' 
				    OR REG_ID like '%' ||  #{sertext} || '%' 
			        OR REG_DATE like '%'|| #{sertext} || '%'
		  	</if>
			)
	<![CDATA[
		 where rNum >=#{start} and rNum <= #{end} order by p_code
	  ]]>
	</select>
	
	<select id="ticketinfo"  resultType="com.team.smart.parking.vo.ParkingVO" parameterType="String">
		select
		p_type,
		hourly,
        price
	    FROM PARKING_TICKET_INFO_TBL
	    WHERE p_code = #{p_code}
	</select>
	
	<update id="ticketpro" parameterType="com.team.smart.parking.vo.ParkingVO">
		update PARKING_TICKET_INFO_TBL
		set p_type = #{p_type},
			hourly = #{hourly},
			price = #{price},
			reg_id = #{reg_id}
			WHERE p_code = #{p_code}
	</update>
	
	<delete id="delete" parameterType="String">
			delete PARKING_TICKET_INFO_TBL
			where p_code = #{p_code}
	</delete>
	
<!-- 	<select id="getsearch"  resultType="com.team.smart.parking.vo.ParkingVO" parameterType="String">
		selete *
		from  (select pt.*,rownum rNum from parking_ticket_info_tbl  pt)
		where p_code like '%' ||  #{ser} || '%' 
		  OR B_CODE like '%' ||  #{ser} || '%'
		  OR P_TYPE like '%' ||  #{ser} || '%' 
		  OR REG_ID like '%' ||  #{ser} || '%' 
	      OR REG_DATE like '%' ||  #{ser} || '%'
	    AND rNum >=#{start} AND rNum <= #{end} order by p_code
	</select> -->
	<select id="ticketPG_CODE" resultType="com.team.smart.parking.vo.ParkingVO">
			select p_code,p_type from parking_ticket_info_tbl where b_code = #{b_code}
	</select>
	<insert id="ticketorder" parameterType="com.team.smart.parking.vo.ParkingVO">
			insert into parking_ticket_order_tbl 
			values(p_ocode = #{p_ocode},p_code=#{p_code},userid=#{userid},p_state=3,p_oprice=#{p_price},p_count=#{p_count},tid='id5',pay_day='sysdate',,p_regidate='sysdate')
	</insert>
	<select id="p_seq" resultType="com.team.smart.parking.vo.ParkingVO">
	SELECT p_seq,p_lat,p_lot FROM parking_lot_detail_tbl  WHERE p_state = 0 ORDER BY p_seq;   
	</select>
	<update id="upstate" parameterType="com.team.smart.parking.vo.ParkingVO">
		UPDATE parking_lot_detail_tbl 
		SET p_state = 1,ask = #{ask} WHERE p_seq=#{p_seq}
	</update>
	<insert id="insertinout" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_history_tbl 
		values(inoutcode=#{inoutcode},car_number=#{car_number},car_number_img=#{car_number_img},b_code=#{b_code},in_time='sysdate',parking_time='sysdate',,parking_location=#{parking_location},parking_state = 0)
	</insert>
	<select id="findid" resultType="int">
		select count(*) from parking_member_car_tbl  where userid=#{userid}
	</select>
	<insert id="insertid" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_member_car_tbl 
		values (userid=#{userid},c_num=#{c_num},kind_of_car=#{kind_of_car},,)
	</insert>
	<insert id="inserthistory" parameterType="com.team.smart.parking.vo.ParkingVO">
		insert into parking_ticket_history_tbl 
		values (parking_code=#{parking_code},p_ocode=#{p_ocode},userid=#{userid},car_number=#{car_number},use_day ='sysdate')
	</insert>
	<select id="paytotal" resultType="java.util.Map">
		select (substr(pay_day,1,5)) pay_day,
		sum(p_oprice) p_oprice
		from parking_ticket_order_tbl
		where p_state = 1 OR p_state = 2
		GROUP by (substr(pay_day,1,5))
		order by (substr(pay_day,1,5))
	</select>
</mapper>

